RewriteEngine On
RewriteRule "^meals/([a-z]+)$" "http://%{HTTP_HOST}/recipebox/api/meals/meals_recipes.php?meal=$1"
RewriteRule "^meals$" "http://%{HTTP_HOST}/recipebox/api/meals/meals.php"
RewriteRule "^recipes/([0-9]+)$" "http://%{HTTP_HOST}/recipebox/api/recipes/recipes_by_id.php?id=$1"

RewriteCond "%{HTTP_HOST}" "herokuapp.com"
RewriteRule "^http:(.+)" "https:$1"

RewriteRule "(https?://)localhost/recipebox/(.+)" "$1localhost/mburr-cs313/web/recipebox/$2"
